<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Manage Employees records{% endblock %}</title>
</head>
<body>

  <header>
    <h1>{% block header %}Manage Employees records{% endblock %}</h1>
  </header>

  <nav>
    <!-- Add navigation links if needed -->
  </nav>

  <main>
    {% block content %}
    
    {% endblock %}
  </main>

  <footer>
    <!-- Add footer content if needed -->
  </footer>

</body>
</html>
